{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center mt-4 mb-3">Добави книга</h2>
    
    <form method="post" enctype="multipart/form-data" class="my-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Заглавие:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_author">Автор:</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="id_publication_year">Година на издаване:</label>
            {{ form.publication_year }}
        </div>
        <div class="form-group">
            <label for="id_genre">Жанр:</label>
            {{ form.genre }}
        </div>
        <div class="form-group">
            <label for="id_pages">Страници:</label>
            {{ form.pages }}
        </div>
        <div class="form-group">
            <label for="id_description">Описание:</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_book_cover">Корица на книгата:</label>
            {{ form.book_cover }}
        </div>
        <button type="submit" class="bg-dark">Добави</button>
    </form>
{% endblock %}
