{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Изтриване на книга</h2>

    <p>Сигурни ли сте, че искате да изтриете тази книга?</p>

    <form method="post" action="{% url 'book_delete' book.id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Изтрий">
    </form>

    <div style="margin-top: 10px;">
        <a href="#" class="btn btn-secondary" onclick="history.back(); return false;">Откажи</a>
    </div>
</div>
{% endblock %}