{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="hero-banner text-center border border-dark p-3">
    <div class="container">
        <h1 class="display-4">Добре дошли, <span class="font-weight-bold">{{ user.first_name }}</span>!</h1>
    </div>
</div>
{% else %}
<div class="hero-banner text-center border border-dark p-3">
    <div class="container">
        <h1 class="display-4">Добре дошли в  <span class="font-weight-bold">Bookstagram</span>!</h1>
         <p class="lead">Открийте най-новите заглавия, класически романи и много други. Изследвайте нашия огромен избор и открийте следващата си любима книга.</p>
    </div>
</div>
{% endif %}




<div class="container mt-4">
    <div class="row">
        {% for i in books %}
        <div class="col-md-4 book-card {% if forloop.counter > 3 %}d-none{% endif %}">
            <div class="card mb-4">
                <a href="{% url 'book_detail' i.id %}">
    <img src="{{ i.book_cover.url }}" class="card-img-top" alt="Book Cover">
</a>
                <div class="card-body">



                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
    <a class="btn btn-dark btn-lg prev-btn" style="position: absolute; left: 0; top: 50%; transform: translateY(-50%); margin-right: 10px;"><span>&lt;</span></a>
    <a class="btn btn-dark btn-lg next-btn" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); margin-left: 10px;"><span>&gt;</span></a>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const prevBtn = document.querySelector(".prev-btn");
        const nextBtn = document.querySelector(".next-btn");
        const bookCards = document.querySelectorAll(".book-card");
        let startIndex = 0;

        function showBooks(start) {
            for (let i = 0; i < bookCards.length; i++) {
                if (i >= start && i < start + 3) {
                    bookCards[i].classList.remove("d-none");
                } else {
                    bookCards[i].classList.add("d-none");
                }
            }
        }

        prevBtn.addEventListener("click", function() {
            if (startIndex > 0) {
                startIndex -= 3;
                showBooks(startIndex);
            }
        });

        nextBtn.addEventListener("click", function() {
            if (startIndex + 3 < bookCards.length) {
                startIndex += 3;
                showBooks(startIndex);
            }
        });
    });
</script>

{% endblock %}



